
.icon {
   font-family: 'fontawesome-webfont';
   font-size: 30;
}
.sidedrawer-listitem{
    font-size:40;
    margin-left: 50;
    color:'white';
}
.sidedrawer-title{
    font-size: 30;
    color:'white';
}
.sidedrawer{
    background-color: #43A047;
}

.rojo{
    background-color: #f44242;
    color: white;
}