
.icon {
   font-family: 'fontawesome-webfont';
   font-size: 30;
}
.sidedrawer-listitem{
    font-size:25; 
    margin-top: 20;
    margin-bottom: 10;
    margin-left:50;
    color:#fff;
}
.sidedrawer-title{
    margin-left:50;
    font-size:30; 
    margin-top: 20; 
    margin-bottom: 20;
    color:#fff;
}
.sidedrawer{
    background-color: #212121;
}

.rojo{
    background-color: #f44242;
    color: white;
}